<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222302915344-f4m0n47q9vroq4j60c4srl4cp4ethirl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222302915344-f4m0n47q9vroq4j60c4srl4cp4ethirl</string>
	<key>API_KEY</key>
	<string>AIzaSyB83EHo0gt7biluN9xehl-9AxDaF1LFNno</string>
	<key>GCM_SENDER_ID</key>
	<string>222302915344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joyful.lifeguard</string>
	<key>PROJECT_ID</key>
	<string>joyfulday-519d0</string>
	<key>STORAGE_BUCKET</key>
	<string>joyfulday-519d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222302915344:ios:d96f56b97181d5c415b395</string>
</dict>
</plist>